.workspace-setup-panel{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.setup-container {
    background-color: #F9FAFB;
    padding: 28px 18px;
    border-radius: 10px;
    width: 80%;
    /*height: 65%;*/
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.setup-wrapper{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.setup-wrapper > div:nth-child(2){
    padding: 15px;
    display: flex;
    flex-grow: 8;
    flex-direction: column;
    justify-content: space-between;
    gap: 35px;
}

.setup-title {
    font-family: 'Pretendard-ExtraBold', sans-serif;
    font-size: 32px;
    margin-bottom: 10px;
}

.setup-section {
    /*margin-bottom: 20px;*/
}

.setup-section > label {
    display: block;
    font-family: 'Pretendard-Bold', sans-serif;
    font-size: 20px;
    margin-bottom: 8px;
}



.create-button-wrapper {
    flex: 1;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.create-button {
    width: 100%;
    padding: 12px;
    background-color: #4F46E5;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.create-button:hover {
    background-color: #4338CA;
}


@media (min-aspect-ratio: 1/1) {
    .setup-container {
        width: 50%;
        /*height: 50%;*/
    }
}

@media (max-height: 800px) {
    .setup-container {
        height: 100%;
    }
}