.alertBtn{
    height: 55px;
    width: 55px;
    cursor: pointer;
    padding: 16px;
    border-radius: 10px;
    background-color: #4F46E5;
}

.alertBtn > img{
    width: 24px;
    height: 24px;
}

.alertBtn-container {
    position: relative;
    display: inline-block;
}