.frame-composer-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: #F9FAFB;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    box-sizing: border-box;
}

.frame-composer-container .selection-panel{
    /*flex: 0 0 auto; !* Ensure it doesn't grow and only takes needed space *!*/
    height: 28%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/*가로모드 일떄*/
@media (min-aspect-ratio: 1/1) {
    .frame-composer-container{
        flex-direction: row;
    }

    .frame-composer-container .selection-panel{
        flex: 1;
        height: auto;
    }
}