.frame-composer-container .image-composer-container {
    flex: 4;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #E5E7EB;
    overflow: hidden;
    padding: 20px
;

    /* Wrapper를 중앙에 배치하기 위한 Flexbox 설정 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-group-wrapper {
    /* 자식 요소의 absolute positioning 기준 */
    position: relative;
    /* 크기는 JSX에서 동적으로 설정됨 */
    flex-shrink: 0; /* 부모 요소보다 작아지지 않도록 설정 */
}

.frame-image {
    /* 부모인 wrapper 크기에 맞춰 꽉 채움 */
    display: block; /* 이미지 하단의 여백 제거 */
    position: relative;
    width: 100%;
    height: 100%;
}


/*가로모드 일떄*/
@media (min-aspect-ratio: 1/1) {
    .frame-composer-container .image-composer-container{
        flex: 1;
    }
}

.image-slot {
    box-sizing: border-box;
    background-color: #f0f0f0;
    border: 2px dashed #ccc;
    cursor: pointer;
    transition: border-color 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.image-slot.selected {
    border-color: #007bff;
    border-style: solid;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
}

.image-slot img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
