.frame-composer-container .image-grid-container {
    border: 1px solid #E5E7EB;
    flex: 2;
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    gap: 1rem;
    overflow: hidden;
}

.image-grid-container.portrait {
    display: flex;
    overflow-x: auto;
}

.image-grid-container.landscape {
    display: grid;
    /* 2x4 grid */
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.image-item {
    overflow: hidden;
    border-radius: 8px;
}

.image-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.image-grid-container.portrait .image-item {
    width: 350px;
    height: 100%;
    flex-shrink: 0;
}

/*가로모드 일떄*/
@media (min-aspect-ratio: 1/1) {
    .frame-composer-container .image-grid-container {
        flex: 1;
    }
}
