.frame-composer-container .image-composer-container {
    flex: 4;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #E5E7EB;
    overflow: hidden;
    padding: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.image-group-wrapper {
    position: relative;
    flex-shrink: 0;
}

.frame-image {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}


/*가로모드 일떄*/
@media (min-aspect-ratio: 1/1) {
    .frame-composer-container .image-composer-container{
        flex: 1;
    }
}

.image-slot {
    box-sizing: border-box;
    background-color: #f0f0f0;
    cursor: pointer;
    transition: border-color 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.image-slot.selected {
    border-color: #007bff;
    border-style: solid;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
}

.image-slot img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
