/* MyPage CSS */
body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

/* Base styles */
.signUp-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f9fafb;
}
