.image-Generator-container{
    width: 100vw;
    height: 100vh;
    padding: 25px;
    display: flex;
    flex-direction: row;
    gap: 25px;
    background-color: #F9FAFB;
}

.generator-canvas-wrapper{
    flex: 4;
    padding: 20px;
    border: 1px solid #E5E7EB;
    background-color: white;
    border-radius: 10px;
    position: relative;
    min-height: 0;
}

.generator-canvas-wrapper canvas{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.generator-wrapper{
    flex: 2;
    display: flex;
    gap: 10%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #E5E7EB;
    background-color: white;
    border-radius: 10px;
}

.QR-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.QR-wrapper img{
    width: 70%;
}

.QR-wrapper span{
    font-size: 1.5rem;
    font-family: 'Pretendard-SemiBold', sans-serif;
}

.print-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.print-wrapper div {
    font-size: 1.5rem;
    font-family: 'Pretendard-SemiBold', sans-serif;
}

.print-wrapper svg {
    width: 70px;
    height: 70px;
}

/*가로모드 일떄*/
@media (min-aspect-ratio: 1/1) {
    .generator-canvas-wrapper, .generator-wrapper {
        min-width: 0;
    }
}