.photo-capture-child-3 .image-grid-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: auto;
    flex-wrap: nowrap;
    gap: 16px;
    width: 100%;
    height: 100%;
    padding: 8px 15px;
    box-sizing: border-box;
    position: relative;

    /* Firefox에서 스크롤바 숨기기 */
    scrollbar-width: none;
}

/* Webkit 기반 브라우저에서 스크롤바 숨기기 */
.photo-capture-child-3 .image-grid-container::-webkit-scrollbar {
    display: none;
}

.image-grid-container .grid-item {
    height: 100%;
    flex-shrink: 0;
}

.image-grid-container .grid-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}