*{
  box-sizing: border-box;
  user-select:none
}

html, body{
  margin: 0;
  padding: 0;
  height: 100%; /* 부모 컨테이너가 높이를 가질 수 있도록 */
  overscroll-behavior-y: none; /* 모바일 화면당겨 새로고침 막을 수 있도록  */
}


/* Pretendard 폰트 정의 */
@font-face {
  font-family: 'Pretendard-Black';
  src: url('./assets/font/Pretendard-Black.woff2') format('woff2');
  font-weight: 900;
}

@font-face {
  font-family: 'Pretendard-ExtraBold';
  src: url('./assets/font/Pretendard-ExtraBold.woff2') format('woff2');
  font-weight: 800;
}

@font-face {
  font-family: 'Pretendard-Bold';
  src: url('./assets/font/Pretendard-Bold.woff2') format('woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'Pretendard-SemiBold';
  src: url('./assets/font/Pretendard-SemiBold.woff2') format('woff2');
  font-weight: 600;
}

@font-face {
  font-family: 'Pretendard-Medium';
  src: url('./assets/font/Pretendard-Medium.woff2') format('woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('./assets/font/Pretendard-Regular.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Pretendard-Light';
  src: url('./assets/font/Pretendard-Light.woff2') format('woff2');
  font-weight: 300; 
}

@font-face {
  font-family: 'Pretendard-ExtraLight';
  src: url('./assets/font/Pretendard-ExtraLight.woff2') format('woff2');
  font-weight: 200;
}

@font-face {
  font-family: 'Pretendard-Thin';
  src: url('./assets/font/Pretendard-Thin.woff2') format('woff2');
  font-weight: 100;
}