.aspect-ratio-buttons-container {
  flex-basis: 0;
  flex-grow: 1;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.aspect-ratio-buttons-container .aspect-ratio-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  font-family: 'Pretendard-Medium', sans-serif;
  color: #4a4a4a;
  background-color: #f9f9f9;
  border: 2px solid #f9f9f9;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  flex: 1 1 auto;
}

.aspect-ratio-buttons-container .active {
  border: 2px solid #4F46E5; /* Your desired border color */
  color: #4F46E5; /* Optional: change text color when active */
  background-color: #E0E7FF; /* Optional: subtle background color when active */
}

.aspect-ratio-buttons-container .ratio-4-3 {
  aspect-ratio: 4 / 3;
}

.aspect-ratio-buttons-container .ratio-3-4 {
  aspect-ratio: 3 / 4;
}

.aspect-ratio-buttons-container .ratio-1-1 {
  aspect-ratio: 1 / 1;
}

.aspect-ratio-buttons-container .ratio-16-9 {
  aspect-ratio: 16 / 9;
}