.custom-checkbox {
  width: 24px; /* 크기 조절 */
  height: 24px; /* 크기 조절 */
  border-radius: 50px; /* 모서리 둥글기 조절 */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
  border: 2px solid #4F46E5; /* 비활성화 시 보더 색상 #4F46E5 */
  background-color: white; /* 비활성화 시 배경색 */
}

.custom-checkbox.checked {
  border-color: #4F46E5; /* 활성화 시 보더 색상 #4F46E5 */
  background-color: #4F46E5; /* 활성화 시 배경색 #4F46E5 */
  color: white; /* 체크 마크 색상 */
}

/* 체크 마크 SVG 스타일 */
.custom-checkbox svg {
  stroke: white; /* 체크 마크 색상 */
}


/* Custom Radio */
.custom-radio {
  width: 24px; /* 크기 조절 */
  height: 24px; /* 크기 조절 */
  border-radius: 50%; /* 라디오 버튼 형태 */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
  border: 2px solid #4F46E5; /* 비활성화 시 보더 색상 #4F46E5 */
  background-color: white; /* 비활성화 시 배경색 */
}

.custom-radio.checked {
  border-color: #4F46E5; /* 활성화 시 보더 색상 #4F46E5 */
  background-color: white; /* 활성화 시 배경색은 유지 (내부 원이 채워짐) */
}

.custom-radio.checked .radio-inner-circle {
  width: 12px; /* 내부 원 크기 */
  height: 12px; /* 내부 원 크기 */
  border-radius: 50%;
  background-color: #4F46E5; /* 내부 원 색상 #4F46E5 */
  display: block;
}